<div class="row bg-light ">
    <div class="col-md-4">
        <div class="container-fluid">
            <div class="card  bg-success text-center text-light  ">
                {% load static %}
                <img class="m-3 text-center rounded-circle" src="{% static " folio/images/profile.jpg " %}" alt="" height="150px" width="150px">

                <div class="card-title">
                    <h3 class="m-3">MBOGO MARTIN</h3>
                    <p class="mt-3">software ,web developer, data scientist</p>
                </div>
                <div class="bg-dark text-light links">
                    <h4>Social Links</h4>

                    <ul> facebook</ul>
                    <ul>twitter</ul>
                    <ul>instagram</ul>
                    <ul>github</ul>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="about bg-dark text-light m-2 p-2 card">
            <div class="m-3 p-2">
                <h3>ABOUT ME</h3>
            </div class="m-3">
            <h5 class=" m-3 text-success">Hello, Am Mbogo Martin</h5>
            <div class=" text-center">
                <p>
                    Hello! I’m Mbogo Martin. Senior Web Developer specializing in front end development. Experienced with all stages of the development cycle for dynamic web projects. Well-versed in numerous programming languages including JavaScript, SQL, and C. Stng background
                    in project management and customer relations.
                </p>
                <button class="btn btn-success"> share</button>
            </div>
        </div>

    </div>

</div>
<div class="row container">
    <div class="section-title text-center">
        <h4>SKILLS</h4>
    </div>
</div>